/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1200px) {
    #Team p {
        padding-bottom: 50px;
    }

    #Team .content .overlay {
        height: 82%;
        padding: 113px 0px 0px 0px;
        ;
    }

    #Team .content {
        margin-top: 0px;
    }

    #Team .content p {
        padding-bottom: 0px;
    }

    #testimonial .review {
        padding: 23px 20px 30px 10px;
        left: -39px;
    }
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991px) {
    #Ban_header{
        padding: 0px 0px 106px 0px;
    }
    .ban_content {
        margin: 61px 0px 0px 0px;
    }
    #Team .content img{
        width: 100%;
    }
    #testimonial .review {
    top: -16%;
    left: 42px;
}
    #testimonial .testimonial_content {
        padding: 51px 0px 60px 0px;
    }
    #Contact .form button {
        width: 40%;
    }
}

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767px) {
    #Team {
    padding: 71px 0px 0px 0px;
}
    #testimonial .patterns{
        display: none;
    }
    #testimonial .testimonial_content {
        box-shadow:none;
        padding: 51px 0px 0px 0px;
    }
    #testimonial .review {
    top: -13%;
        left: 77px;
    }
    #Contact .contact_image {
    padding: 13px 0px 0px 0px;
}
}

/*extra small devices (landscape phones,320px and up)*/
@media (min-width: 0px) and (max-width: 575px) {
    #Ban_header .btn2 {
        width: 44%;
    }
    #Initiative img{
        display: none;
    }
    #Initiative .inititative_slider .image {
    padding: 0px;
    }
    #Initiative .slick-prev, .slick-next {
    bottom: 50px;
}
    #Initiative .slick-prev{
    right: 50px;
    }
    #Initiative .slick-next {
    right: 20px;
}
    #Initiative .inititative_slider {
        box-shadow: none;
    }
    #Team img{
        width: 100%;
    }
    #testimonial .image, .patterns{
        display: none;
    }
    #testimonial .testimonial_content {
    padding: 51px 0px 0px 0px;
        box-shadow: none;
    }
    #testimonial .review {
    top: 0px;
        left: 0px;
    }
    #testimonial .slick-next {
    top: 95%;
        right: 10px;
    }
    #testimonial .slick-prev {
    top: 95%;
        right: 40px;
    }
    #Contact .form button {
        width: 40%;
    }
}

/*menu toggle media css strats here*/

@media only screen and (max-width: 768px) {
    .navbar .navbar-collapse{
        text-align: center;
    }
    .navbar ul li {
        background: #f05957;
        border-bottom: 2px solid #fff;
        margin-top: 10px;
        padding: 10px;
    }
    #Ban_header ul li a:hover {
    color: #fff;
    transition: 0.5s;
}
    #Ban_header .btn1 {
    width: 45%;
    margin-top: 10px;
    border: 2px solid #fff;
    background: none;
    }
}

/*menu toggle media css ends here*/
