* {
    margin: 0;
    padding: 0;
}

/*font link starts here*/
@font-face {
    font-family: 'petclub_font_one_bold';
    src: url(../webfonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'petclub_font_two_medium';
    src: url(../webfonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'petclub_font_three_semi_bold';
    src: url(../webfonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'petclub_font_four_reg';
    src: url(../webfonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'petclub_font_five_ex';
    src: url(../webfonts/Poppins/Poppins-ExtraBold.ttf);
}

/*font link ends here*/
/*common css starts here*/
.color1 {
    color: #f05957;
}

.color2 {
    color: #777777;
}

.color3 {
    color: #333333;
}

.bg {
    background: #f05957;
}

.header {
    font-size: 32px;
}

.common_p {
    padding: 0px 0px 18px 0px;
}

.font_size_1 {
    font-size: 21px;
}

.font_size_2 {
    font-size: 17px;
}

.font_size_3 {
    font-size: 22px;
}

.font_size_4 {
    font-size: 25px;
}

.font_size_5 {
    font-size: 35px;
}

.font1 {
    font-family: 'petclub_font_one_bold';
}

.font2 {
    font-family: 'petclub_font_two_medium';
}

.font3 {
    font-family: 'petclub_font_three_semi_bold';
}

.font4 {
    font-family: 'petclub_font_four_reg';
}

.font5 {
    font-family: 'petclub_font_five_ex';
}

/*common css ends here*/
#Ban_header {
    background: url(../image/banner.png)no-repeat;
    background-size: cover;
    padding: 0px 0px 142px 0px;
}

#Ban_header .ban_content h1 {
    font-size: 45px;
}

#Ban_header .navbar ul {
    font-size: 18px;
}

#Ban_header ul li a {
    color: #fff;
    margin: 0px 15px 0px 0px;
}

#Ban_header ul li a:hover {
    color: #f05957;
    transition: 0.5s;

}

#Ban_header .btn1 {
    width: 12%;
    border: 0;
    border-radius: 5px;
    line-height: 50px;
    font-size: 18px;
}

#Ban_header .btn2 {
    width: 23%;
    border: 0;
    border-radius: 5px;
    line-height: 50px;
    margin: 21px 0px 0px 0px;
    font-size: 18px;
}

.ban_content {
    margin: 211px 0px 0px 0px;
}

#Features {
    padding: 69px 0px 52px 0px;
}

#Features .content {
    padding: 40px 40px 21px 40px;
}

#Features .content:hover {
    box-shadow: 0px 0px 36px 2px #f0595729;
    border-radius: 10px;
    transition: 0.5s;
}

#Features h6:hover {
    color: #f05957;
    transition: 0.5s;
    font-family: 'petclub_font_three_semi_bold';
}

#Counter .counter_content {
    background: url(../image/counter_banner.png)no-repeat;
    padding: 37px 0px 34px 0px;
    background-size: cover;
    border-radius: 10px;
}

#Initiative {
    padding: 69px 0px 0px 0px;
}

#Initiative .inititative_slider {
    background: #f05957;
    padding: 33px 0px 43px 0px;
    border-radius: 10px;
    ;
    box-shadow: 0px 0px 40px 1px #f05957a3;
}

#Initiative .inititative_slider .initiative_parts:nth-child(5) {
    margin-bottom: 39px;
}

#Initiative .slick-prev,
.slick-next {
    bottom: 49px;
}

#Initiative .inititative_slider .slick-prev::before {
    content: '\f053';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffffff;
    background: none;
    font-size: 28px;
}

#Initiative .inititative_slider .slick-next::before {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffffff;
    background: none;
    font-size: 28px;
}

#Initiative .inititative_slider .image {
    padding: 43px 0px 0px 0px;
}

#Initiative .inititative_slider .initiative_parts {
    display: flex;
    margin-bottom: 24px;
}

#Initiative h3 {
    font-size: 28px;
    line-height: 44px;
    margin-bottom: 40px;
}

#Initiative .inititative_slider p {
    font-size: 18px;
    margin: auto 0px auto 30px;
}

#Initiative a {
    font-size: 18px;
    display: inline-block;
    width: 170px;
    height: 52px;
    line-height: 52px;
    background: #ffffff;
    border-radius: 5px;
}

#Initiative a:hover {
    text-decoration: none;
    color: #f05957;
}
#Team {
    padding: 71px 0px 74px 0px;
}

#Team .content {
    height: 300px;
    overflow: hidden;
    border-radius: 7px;
    position: relative;
    margin-top: 50px;
}

#Team .content .overlay {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0b050566;
    text-align: center;
    padding: 170px 0 0;
    opacity: 0;
    transition: all 0.3s;

}

#Team .content:hover .overlay {
    top: 0;
    opacity: 1;
}

#Team .content .overlay p {
    display: block;
}

#Team .content .overlay span {
    font-size: 14px;
    display: block;
}

#Team .content .overlay i {
    font-size: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 0 7.5px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s;
    border: 1px solid #fff;
}

#Team .content .overlay i:hover {
    background: #f05957;
}

#testimonial .testimonial_content {
    padding: 51px 0px 100px 0px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #ffe3e380;
}

#testimonial .patterns img:nth-child(1) {
    position: absolute;
    right: 25%;
    top: 32%;
}

#testimonial .patterns img:nth-child(2) {
    position: absolute;
    right: 6%;
    top: 27%;
}

#testimonial .patterns img:nth-child(3) {
    position: absolute;
    right: 17%;
    top: 28%;
}

#testimonial .image {
    box-shadow: 0px 0px 20px 2px #eeeeeeb5;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    box-sizing: content-box;
}

#testimonial .review {
    background: #fff;
    padding: 37px 20px 30px 10px;
    border-left: 10px solid #f05957;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px #eeeeeeb5;
    top: 50%;
    left: -97px;
}

#testimonial span {
    font-size: 16px;
}

#testimonial .review p {
    margin-top: 47px;
    line-height: 30px;
}

#testimonial .review p::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 50%;
    width: 70px;
    height: 2px;
    background: #f05957;
    transform: translate(-50%);
}

#testimonial .slick-prev {
    bottom: 0px;
    top: 15px;
    right: 8px;
}

#testimonial .slick-next {
    bottom: 0px;
    top: -11px;
    right: -17px;
}

#testimonial .slick-prev::before {
    content: '\f053';
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background: #f05957;
    border-radius: 6px;
    padding: 6px 7px 6px 8px;
}

#testimonial .slick-next::before {
    content: '\f054';
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    background: #f05957;
    border-radius: 6px;
    padding: 6px 7px 6px 8px;
}
#Contact{
    padding: 69px 0px 0px 0px;
}
#Contact .contact_image {
    padding: 68px 0px 0px 0px;
}

#Contact form {
    text-align: center;
}

#Contact .form input {
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 15px;
    color: #777777;
    font-family: 'petclub_font_four_reg', sans-serif;
    border: 2px solid #e9d7d7;
    line-height: 45px;
    border-radius: 3px;
}

#Contact textarea {
    width: 100%;
    border: 0;
    text-align: center;
    font-size: 15px;
    color: #777777;
    font-family: 'petclub_font_four_reg', sans-serif;
    border: 2px solid #e9d7d7;
    line-height: 45px;
    border-radius: 3px;
}

#Contact label {
    font-size: 13px;
    margin-top: 30px;
}

#Contact .form button {
    width: 23%;
    font-size: 17px;
    color: #ffffff;
    background: #f05957;
    font-family: 'petclub_font_three_semi_bold', sans-serif;
    border: 0;
    border-radius: 5px;
    line-height: 45px;
    margin-top: 30px;
}

footer {
    background: url(../image/footer.png)no-repeat;
    background-size: cover;
    padding: 20px 0px 7px 0px;
    margin: 79px 0px 0px 0px;
}

footer p {
    font-size: 15px;
}
